<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/about3.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style3.css')}}">
    <title>About</title>
</head>
<body>
    <nav>
        <div class="logo"> <h1 style="font-size: 20px; color: #fff"> <a href="/"> Fraud Detectors </a> </h1> </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/spam">Spam E-mail</a>
            <a href="/phishing">Phishing Website</a>
            <a href="/creditcard">Credit Card Fraud</a>
            <a href="/about">About us</a>
        </div>
    </nav>
    <div class="container">
        <div class="header">
            <h1>Our Team</h1>
           
        </div>
        <div class="teams-head">
            <img src="static\css\images\Mam.jpg" />
            <div class="name">Rachita Ghoshhajra</div>
            <div class="desig"><p>Asst. Professor, CSE</p> 
                <p>Department of Computer Science & Engineering, </p>
                <p>MCKV Institute of Engineeringr</p>
            </div>
            <div class="about">Mrs. Rachita Ghoshhajra is an Assistant Professor in the Department of Computer Science & Engineering 
                at MCKV Institute of Engineering. With her extensive knowledge and expertise, she has been an invaluable guide for 
                our project. Her support and insights have significantly contributed to the development and success of our work.
                Her mentorship has not only helped us navigate technical challenges but also encouraged us to think critically and 
                approach problems innovatively. Her dedication to teaching and her approachable nature make her an 
                outstanding mentor, fostering a collaborative and stimulating learning environment.
            </div>
            
        </div>
        <div class="sb-container">
        <div class="teams">
            <img src="static\css\images\IMG-20230831-WA0003.jpg" />
            <div class="name">Priyabrata Shee</div>
            <div class="desig">Team Member-1</div>
            <div class="about">Priyabrata is the technical guru of our team, specializing in 
                coding and machine learning. His deep understanding of programming languages 
                and problem-solving abilities help us overcome complex technical challenges. 
                Priyabrata's innovative approach and attention to detail ensure our project's 
                technical excellence.
            </div>
            <div class="social">
                <a href="https://www.facebook.com/priyabrata.shee.1?mibextid=JRoKGi"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="https://www.linkedin.com/in/priyabrata-shee-7281a9229/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href="http://www.github.com/Datarush26"><ion-icon name="logo-github"></ion-icon></a>
            </div>
        </div>
        <br/>
        <div class="teams">
            <img src="static\css\images\Dola1.jpg" />
            <div class="name">Arpita Dey</div>
            <div class="desig">Team Member-2</div>
            <div class="about">Arpita is known for her exceptional organizational skills and strategic 
                thinking. She excels in project management, ensuring that our team stays on track and 
                meets all deadlines. Her ability to coordinate tasks and communicate effectively makes 
                her a vital asset to our project. 
            </div>
            
            <div class="social">
                <a href="https://www.facebook.com/profile.php?id=100027237833721&mibextid=ZbWKwL"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="https://www.linkedin.com/in/arpita-dey-a802a7200/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href="https://github.com/ArpitaDey13"><ion-icon name="logo-github"></ion-icon></a>
            </div>
        </div>
        <br/>
        <div class="teams">
            <img src="static\css\images\sounak.jpg" />
            <div class="name">Sounak Pramanik</div>
            <div class="desig">Team Member-3</div>
            <div class="about">Sounak is our design expert, with a keen eye for aesthetics and user experience. 
                His skills in graphic design and user interface development ensure that our project is not only 
                functional but also visually appealing and user-friendly. Sounak's creativity and artistic vision 
                add a unique touch to our work.
            </div>
            <div class="social">
                <a href="https://www.facebook.com/devdan.roy.1"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="https://www.linkedin.com/in/sounak-pramanik-320b3b281/"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href="https://github.com/Sounak2001"><ion-icon name="logo-github"></ion-icon></a>
            </div>
        </div>
        <br/>
        <div class="teams">
            <img src="static\css\images\Jhantu.jpg" />
            <div class="name">Jhantu Das</div>
            <div class="desig">Team Member-4</div>
            <div class="about" >Jhantu is the research and analysis specialist in our team. 
                He excels at gathering relevant information, conducting thorough analyses, 
                and deriving meaningful insights that guide our project direction. His strong 
                analytical skills and dedication to detail contribute significantly to the depth 
                and quality of our work.
            </div>
            <div class="social">
                <a href="https://www.facebook.com/justin.das.3990?mibextid=ZbWKwL"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="https://www.linkedin.com/in/jhantu-das-680861238"><ion-icon name="logo-linkedin"></ion-icon></a>
                <a href="https://github.com/jhantu07"><ion-icon name="logo-github"></ion-icon></a>
            </div>
        </div>
    </div>
</div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>