<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/website.css')}}">
    <title>Spam Mail</title>
</head>
<body>
    <nav>
        <div class="logo"> <h1 style="font-size: 20px; color: #fff"> <a href="/"> Fraud Detectors </a> </h1> </div>
            <div class="menu">
                <a href="/">Home</a>
                <a href="/spam">Spam E-mail</a>
                <a href="/phishing">Phishing Website</a>
                <a href="/creditcard">Credit Card Fraud</a>
                <a href="/about">About us</a>
            </div>
    </nav>
  <section>
    <div class="Hello">
        <ul id="accordion">
            <li>
                <label for="first">Follow the instructions below 👇🏻</label>
                    <input type ="checkbox" name="accordion" id="first" >
                    <div class="content">
                        <div class="form-box1"> 
                            <p>
                                Step 1: Go to your browser / message / e-mail
                            </p>
                        </div>	
                        <br/>
                        <div class="form-box1"> 
                            <p>
                               Step 2: Copy the suspecious URL
                            </p>
                        </div>	
                        <br/>
                        <div class="form-box1"> 
                        <p>
                           Step 3: Paste the URL into the input box
                        </p>
                        </div>	
                        <br/>
                        <div class="form-box1"> 
                            <p>
                               Step 4: Click the submit button
                            </p>
                        </div>	
                       
                    </div>                     
            </li>
       
          </ul>
      </div>

      <div class="form-box">
          <div class="form-value">
            <form action=" {{ url_for('phishing')}}" method="post"">
                  <h2>Phishing Website Detector</h2>
                  <div class="inputbox">
                      <ion-icon name="link"></ion-icon>
                      <input type="text" id="text" name="text" required>
                      <label for="text">URL</label>
                  </div>
                  <br/>
                  <br/>
                  <button>Submit</button> 
                  <h1 class="result">{{prediction}}</h1>            
              </form>
          </div>
      </div>
      
  </section>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>